USE [master]
GO
/****** Object:  Database [TestAssetDB]    Script Date: 8/21/2017 9:49:02 PM ******/
CREATE DATABASE [TestAssetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestAssetDB', FILENAME = N'C:\Aggarao\DEV\Microsoft SQL Server\root\MSSQL13.APPDATA\MSSQL\DATA\TestAssetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestAssetDB_log', FILENAME = N'C:\Aggarao\DEV\Microsoft SQL Server\root\MSSQL13.APPDATA\MSSQL\DATA\TestAssetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestAssetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestAssetDB]
GO
USE [TestAssetDB]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 8/21/2017 9:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pens]    Script Date: 8/21/2017 9:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pens](
	[PenId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[InkColor] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Toys]    Script Date: 8/21/2017 9:49:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toys](
	[ToyId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[BodyShape] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
